# Veritabanı
DATABASE_URL=postgresql://postgres:sifre123@localhost:5432/exift

# JWT
JWT_SECRET_KEY=32 karakterlik güçlü bi password
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080

# Cloudinary
CLOUDINARY_CLOUD_NAME=exift
CLOUDINARY_API_KEY=123456789012345
CLOUDINARY_API_SECRET=abcdefghijklmnopqrstuvwxyz

# Uygulama
APP_ENV=development
CORS_ORIGINS=http://localhost:3000
